@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Lato:300");
body {
  margin: 0;
  font-family: "Lato", Helvetica, Arial, san-serif;
  font-size: 16px;
  background-color: #333A41;
  color: #333;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: #C97D60;
  text-decoration: none;
}

.txt-white {
  color: #fff;
}

.section-head {
  margin: 0 0 10px 0;
  width: 100%;
  font-size: 300%;
  text-align: center;
  font-weight: lighter;
}

header {
  padding: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-weight: 300;
}
header p {
  margin: 0;
}
header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
header ul li {
  padding: 10px;
}
header ul li .link-box {
  text-align: center;
  font-size: 36px;
}
header ul li .link-box .link-label {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  header {
    padding: 10px;
    justify-content: center;
  }
  header h2 {
    font-size: 1.25em;
    font-weight: bold;
  }
  header ul li .link-box {
    font-size: 27px;
  }
  header ul li .link-box .link-label {
    font-size: 12px;
  }
}
main .my-title {
  background-color: #CFFFB3;
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(45deg, #cfffb3, #001a23);
}
main .my-title img {
  border-radius: 50%;
  max-width: 256px;
  filter: contrast(110%) saturate(80%) drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.3));
  transition: 0.2s;
}
main .my-title img:hover {
  filter: contrast(110%) saturate(80%) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}
main .my-title h1 {
  margin: 10px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 430%;
  font-weight: lighter;
}
main .my-title p {
  margin: 0 auto;
  max-width: 42%;
  font-size: 120%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  margin-bottom: 10px;
}
main .my-title a {
  padding: 10px 40px;
  background-color: #C97D60;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  transition: 0.2s;
  font-size: 110%;
}
main .my-title a:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
@media screen and (max-width: 768px) {
  main .my-title p {
    max-width: 100%;
    font-size: 95%;
  }
  main .my-title a {
    font-size: 95%;
  }
}
main .project-container {
  padding: 20px;
  background-color: #fff;
}
main .project-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
main .project-container ul .card {
  position: relative;
  box-sizing: border-box;
  margin: 0.5em;
  max-width: 360px;
  min-height: 288px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-image: url("https://www.fridakahlo.org/images/paintings/self-portrait-with-necklace-of-thorns.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main .project-container ul .card .card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  transition: 0.5s;
}
main .project-container ul .card .card-info .proj-title {
  font-size: 1.35em;
  margin: 0;
  font-weight: lighter;
}
main .project-container ul .card .card-info .proj-desc {
  text-align: left;
}
main .project-container ul .card .card-info a {
  margin: 5px 10px;
  font-size: 45px;
  transition: 0.5s ease;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
main .project-container ul .card .card-info a:hover {
  color: #36829F;
}
main .project-container ul .card .card-info:hover {
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
main .resume-container {
  background-color: #36829F;
  padding: 20px;
}
main .resume-container .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1em;
}
main .resume-container .wrapper h2 {
  padding: 0 0 5px 5px;
  width: 25%;
  border-left: 2px solid #C97D60;
  border-bottom: 2px solid #C97D60;
}
main .resume-container .wrapper h3 {
  display: inline-block;
  padding: 10px 10px 0 2px;
  background-color: #C97D60;
  font-weight: lighter;
}
main .resume-container .wrapper h3 {
  margin-top: 1em;
}
main .resume-container .wrapper ul {
  margin: 0;
  list-style-type: none;
  padding-left: 1em;
}
main .resume-container .wrapper .experience {
  justify-self: start;
}
main .resume-container .wrapper .experience p {
  line-height: 1.5;
}

footer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .ul {
  text-decoration: underline;
}
footer p {
  margin: 0;
}
footer p:last-child {
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  footer p:last-child {
    text-align: center;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=css/styles.css.map */
