@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Lato:300');

:root {
  --jumbotron-padding-y: 3rem;
}

body {
  background-color: #333A41;
  color: #111;
  font-family: Lato, Arial, san-serif;
  font-weight: 300;
}

a, .fa-file-code {
  color: #C97D60;
}
a:hover {
  color: #C97D60;
}

.btn-primary, .btn-secondary {
  background-color: #C97D60;
  border-color: #C97D60;
  filter: drop-shadow(2px 2px 4px rgba(1,1,1,0.2));
  color: #feffea;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #A5674F;
  border-color: #A5674F;
  color: #feffea;
}

.text-white, .text-muted {
  color: #fff!important;
}

.lead {
  color: #424B54;

  /* 2E2D4D, 22333B, 424B54 */
}

.bg-light {
  background-color: #fff!important;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #93B48B;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: "Cormorant Garamond", serif;
}

.jumbotron img {
  border-radius: 50%;
  max-width: 256px;
  filter: contrast(110%) saturate(80%) drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
  transition: 0.3s;
}

.jumbotron img:hover {
  filter: contrast(110%) saturate(80%) drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

.jumbotron p {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.jumbotron .container {
  max-width: 40rem;
}

.ul {
  text-decoration: underline;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
